/* CSS Hello World 
body {
  background-color: tomato; 
}
+ font-family
+ google-font import
+ CSS hack
+ reset CSS*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Yellowtail&display=swap");
@import "reset.css";
@import "variables.css";
/* compontents */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
/* screens */
@import "screens/login.css";
@import "screens/friends.css";

/* 모든 CSS에 적용할 수 있는 코드만 styles.css에 기재 */
body {
  font-family: "Open Sans", sans-serif;
  height: 1000vh;
  color: #2e363e;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
