#chat-screen,
#chat__status-bar {
  background-color: #aac0d1;
}

#chat-screen {
  height: 11000vh;
}
#chat-screen .status-bar,
#chat-screen .alt-header {
  top: 0;
  position: fixed;
  /* position: fixed 해주었을 때, width:100%을 해줘야 깨지지 않는다. ... why? */
  width: 100%;
  box-sizing: border-box;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  top: 10px;
  z-index: 1;
}

.main-chat {
  margin-top: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* z-index : div가 있는 위치가 맨 앞에서부터 몇 번째인지를 나타낸다.*/

.main-chat .chat__timestamp {
  font-size: 14px;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.message__author {
  display: block;
  margin-bottom: 5px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 10px;
  border-top-left-radius: 0px; /* 말풍선 모서리 구현*/
  margin-right: 10px;
  font-size: 18px;
}

.message__time,
.message__author {
  opacity: 0.8;
  font-size: 14px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  border-radius: 10px;
  border-top-right-radius: 0px;
  margin-right: 0px;
  margin-left: 10px;
  background-color: var(--yellow);
}

.message-row--own .message__info {
  /* info 안 bubble과 time 순서 바꾸는 방법 2 가지 in flex-box
     1) order: 0, order: 1 
     2) flex-direction: row-reverse <- 코드 더 간결하게 사용 가능*/
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
}

/* column에 width를 먼저 줘야 그 다음에 input을 줄 수 있다.  */
/* last-child인 column의 두 icon을 absolute 포지션을 줄 것이기 때문에 column에 relative로 만들어야 함 */
.reply .reply__column:first-child {
  width: 10%;
  display: flex;
  justify-content: center;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}

.reply input {
  width: 100%;
  border-radius: 25px;
  border: var(--main--border);
  padding: 14px;
  box-sizing: border-box;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
}

.reply__column:last-child button {
  right: 3px;
  top: 10px;
}

.reply__column:last-child > i {
  width: 31px;
  height: 31px;
  right: 25px;
  top: 15px;
}

.reply__column button {
  background-color: var(--yellow);
  border-radius: 50%;
  border: none;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply__column button i {
  opacity: 1;
}
