.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main--border);
  border-bottom: var(--main--border);
}
.recommended-friends__title {
  font-size: 14px;
  color: var(--gray);
}

.recommended-friends span {
  margin: 110px 0;
  display: block;
  text-align: center;
  font-size: 18px;
  color: var(--gray);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post,
.open-post-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  font-size: 14px;
  opacity: 0.5;
}

.open-post__members .divider {
  width: 1.5px;
  height: 15px;
  background-color: var(--gray);
  margin: 0px 5px;
}

.open-post__member-status {
  color: #ff66c4;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 15px;
}

.open-post__heart-count {
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity보다 rgba(0, 0, 0, 0.8)의 글자가 더 선명하다*/
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 7px 8px;
  border-radius: 15px;
  position: absolute;
  bottom: 10px;
  right: 7px;
  font-size: 14px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart-count:hover i {
  /* ! will-change : 기본적으로 브라우저에게 뭔가가 바뀔거라 말해준다. 이때, 브라우저는 애니메이션을 더 낫게 만든다.*/
  will-change: transform;
  animation: heartBeat 2s linear infinite;
}

.open-post__heart-count span {
  margin-left: 3px;
}

.open-post-second {
  padding-top: 12px;
  margin-top: 10px;
  border-top: var(--main--border);
}
